// Primary
$soft_blue: hsl(215, 51%, 70%);
$cyan: hsla(178, 100%, 50%, 0.89);
// Neutral
$very_dark_blueCard: hsl(216, 50%, 16%); // Main Background
$very_dark_blueMain: hsl(217, 54%, 11%); // Card Background
$very_dark_blue: hsl(215, 32%, 27%); // Line